[project]
	description = This is a basic YII application with a custom theme,
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nagaraj Ganachari (nagarajpg)
[access "refs/for/refs/*"]
	read = group user/Nagaraj Ganachari (nagarajpg)
	push = group user/Nagaraj Ganachari (nagarajpg)
	label-Code-Review = -2..+2 group user/Nagaraj Ganachari (nagarajpg)
	label-Verified = -1..+1 group user/Nagaraj Ganachari (nagarajpg)
	rebase = group user/Nagaraj Ganachari (nagarajpg)
	removeReviewer = group user/Nagaraj Ganachari (nagarajpg)
	submit = group user/Nagaraj Ganachari (nagarajpg)
[access "refs/heads/*"]
	read = group user/Nagaraj Ganachari (nagarajpg)
	create = group user/Nagaraj Ganachari (nagarajpg)
	push = +force group user/Nagaraj Ganachari (nagarajpg)
	pushMerge = group user/Nagaraj Ganachari (nagarajpg)
[access "refs/tags/*"]
	push = +force group user/Nagaraj Ganachari (nagarajpg)
	pushTag = group user/Nagaraj Ganachari (nagarajpg)
	pushSignedTag = group user/Nagaraj Ganachari (nagarajpg)
